<header>
  <a routerLink="/" >
      <h1>Videoflix</h1>
  </a>
</header>
<section>
  <div id="loginBox">
    <h2>Log In</h2>
    <form #form="ngForm" (ngSubmit)="login()">
      <input required name="email" [(ngModel)]="email" id="email" placeholder="Email address" />
      <input required type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password" />
      <button type="submit" [disabled]="!form.valid">Log in</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    
    <a class="center" routerLink="/forgot">Forgot password?</a>

    <p>New at Videoflix? <a routerLink="/register"><b>Sign up now!</b></a></p>
  </div>
</section>
