<header>
  <a routerLink="/">
    <h1>Videoflix</h1>
  </a>

  <button (click)="logout()" type="button">Log Out</button>
</header>
<section>
    <div class="searchBar">
    <input type="text" placeholder="Search for Title..." [(ngModel)]="searchQuery">
  </div>
  <div class="content">
    <div class="genre" *ngFor="let genre of genres">
      <h2 *ngIf="filterVideosByGenre(genre).length > 0">{{ genre }}</h2>
      <div class="genreRow">
        <div
          class="contentTile"
          *ngFor="let video of filterVideosByGenre(genre) | filterByTitle:searchQuery"
        >
          <div>
            <img
              [src]="video.thumbnail_file_url"
              alt="{{ video.title }} thumbnail"
              (click)="playVideo(video)"
              (contextmenu)="preventRightClick($event)"
            />
          </div>
          <div>
            <h3>{{ video.title }}</h3>
            <p>{{ video.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
