img {
    height: 200px;
}

.content {
    flex-direction: column;
    display: flex;
    gap: 16px;
    width:100%;
    margin:32px;
    flex:1;
}

.genre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contentTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}