footer {
    height: 70px;
    display: flex;
    padding: 32px 32px 0 32px;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);

}

.backup {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}