#registerBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 500px;
    padding: 16px 48px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    margin: 16px;
    border-radius: 20px;
  
    h2 {
      margin-bottom: 28px;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
  }

  .registerInputBox {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
  }

form {
    display: flex;
    flex-direction: column;

    input {
        line-height: 1.5;
        font-size: 1rem;
        color: inherit;
        padding: 1rem;
        border: solid 1px #B2B8B8;
        appearance: none;
        background: transparent;
        border-radius: 0.25rem;
         ::placeholder {
            color: #B2B8B8;
         }
      }
    
      button {
        background-color: #e50914;
        margin-top: 16px;
        color: white;
        border-radius: 0.25rem;
        cursor: pointer;
        width: 100%;
        line-height: 1.5;
        padding: 1rem;
        min-height: 16px;
        min-width: 16px;
        font-size: 1rem;
        line-height: 1.5;
        font-size: 1rem;
        border: none;
        width: 100%;
        color: inherit;

        &:hover {
            background-color: #ad0810;
        }
      }
  }

  .border-red {
    border: 1px solid red !important;
  }

  .alert {
    font-size: 10px;
    width: 100%;
    text-align: right;
    color: red;
  }

p {
  text-align: center;

  a {
    font-weight:bold;
  }
}